<a href="https://colab.research.google.com/github/kiruthikaloganathan/Exception.scala/blob/master/Lambda_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("hello")

hello

In [1]:
#assigment-write a program to reverse a list and print it in upper case

num_list = "Python"
#print (num_list.upper())
num_list1 = list(map(lambda x : x.upper(), num_list[::-1]))
print (num_list1)

PYTHON
['N', 'O', 'H', 'T', 'Y', 'P']

In [4]:
num_list = "python"
num_slice = num_list[::-1]
num_list1 = list(map(lambda x : x.upper(), num_slice))
num_list1

['N', 'O', 'H', 'T', 'Y', 'P']

In [17]:
#simple adding
add = lambda a,d :(a+d) #a and d are arguments here
print(add(2,3))

#passing the value in lambda function
add1 = (lambda a,b : a+b)(2,4)

#in lambda no need to assign a variable we can call directly(imediately invoked function)
(lambda a,b : a*b)(5,6)

#passing default value
add = lambda x,y = 100 : x+y
print(add(2))

add = lambda x : x +100
print(add(50))

5
102
150

In [4]:
#keyword arguments
product = lambda x,y,z : x*y*z
print(product(x=2, y=3, z=5))

#default argument value
add = lambda x,y = 12, z =4 : x+y+z
print(add(3))

#as many as arguments
addition = lambda *args : sum(args)
print(addition(3,5,7,7))

#higher order function take one or more function as a arguments and return one or more function
higher_ord_fun = lambda x, fun : x + fun(x)
higher_ord_fun(20, lambda x : x*x)

#if condition in lambda
(lambda x : (x%2 and 'even' or 'odd'))(150)

#check string is substring of the given string
sub_string = lambda string :string in "welcome to python"
print(sub_string("java"))
print(sub_string("python"))

#filter a number using specific condition
num = [10,29,34,56,34]
greater = list(filter(lambda x : x >30, num))
print(greater)

#filter a number divisable by 4
num = [4,8,3,16,67,7]
division = list(filter(lambda x : (x%4 == 0), num))
print(division)

#map function along with lambda
#map function accepts two arguments and it take that function and apply every element of the list and return a modified list
list1 = [10, 40, 56, 46, 73]
double_number = list(map(lambda x : x*2, list1))
print(double_number)

30
19
22
False
True
[34, 56, 34]
[4, 8, 16]
[20, 80, 112, 92, 146]

In [51]:
#reduce function, it applies rolling calclation all applies in the result it used to calculate and multiply all the numbers togeather
#part of func tool moodulr
#so we are importing funtool
from functools import reduce
list4 = [2,3,4,5,6]
sum = reduce(lambda x, y : (x+y),list4)
print(sum)

#user defined funtion
#calculate the qudratic function
def quadratic(a,b,c):
  return lambda x : a*b**2 + b*x + c
f = quadratic(2,3,4)
f(1)

20

25

In [5]:
# using inbuild function pow
print("hello")
list3 = [13,65,87,98]
cube = list(map(lambda x : pow(x,3), list3))
print(cube)

hello
[2197, 274625, 658503, 941192]