<a href="https://colab.research.google.com/github/kiruthikaloganathan/Exception.scala/blob/master/Producer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install kafka-python #install python and kafka

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: kafka-python in /usr/local/lib/python3.8/dist-packages (2.0.2)

In [ ]:
import pandas as pd
from kafka import KafkaProducer
from time import sleep
from json import dumps
import json

In [ ]:
producer = KafkaProducer(bootstrap_servers=['204.236.241.71:9092'], #change ip here and this code is for the producer
                         value_serializer=lambda x: 
                         dumps(x).encode('utf-8'))

In [ ]:
producer.send('devi1', value={'Kiruthika':'is great'}) #this is where we are sending the file through the topic created so that this will be visible in the consumer

In [ ]:
df = pd.read_csv("Stock_dataset.csv") #to read the csv file and store in a dataframe

In [ ]:
df.head() #to display the top 5 rows in the csv

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,31/12/1986,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0,333.879006
1,HSI,02/01/1987,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0,330.213013
2,HSI,05/01/1987,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0,331.811987
3,HSI,06/01/1987,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0,335.906987
4,HSI,07/01/1987,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0,338.923013

In [ ]:
df.sample(1) #just to read a random row in the file

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
24482,IXIC,12/03/1979,127.190002,127.190002,127.190002,127.190002,127.190002,0,127.190002

In [ ]:
df.sample(1).to_dict() #to convert the sample into dictionary format

{'Index': {29720: 'IXIC'},
 'Date': {29720: '30/11/1999'},
 'Open': {29720: 3424.610107},
 'High': {29720: 3424.610107},
 'Low': {29720: 3326.530029},
 'Close': {29720: 3336.159912},
 'Adj Close': {29720: 3336.159912},
 'Volume': {29720: 1548680000},
 'CloseUSD': {29720: 3336.159912}}

In [ ]:
df.sample(1).to_dict(orient="records") #this will give the dictionary in a proper format. Like Index and then value rather than the above format

[{'Index': 'GSPTSE',
  'Date': '13/10/1994',
  'Open': 4379.200195,
  'High': 4379.200195,
  'Low': 4340.600098,
  'Close': 4343.399902,
  'Adj Close': 4343.399902,
  'Volume': 71230000,
  'CloseUSD': 3605.021919}]

In [ ]:
df.sample(1).to_dict(orient="records")[0]# to extract it into a proper json format, we need to include [0]

{'Index': 'N225',
 'Date': '24/08/1987',
 'Open': 25754.33008,
 'High': 25754.33008,
 'Low': 25754.33008,
 'Close': 25754.33008,
 'Adj Close': 25754.33008,
 'Volume': 0,
 'CloseUSD': 257.5433008}